/* CSS for Organize component */

.loginbtn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    outline: none; /* Remove the focus outline */
  }
  
  .loginbtn:hover {
    background-color: #0056b3;
  }
  
.organize-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling for form groups */
  .form-group {
    margin-bottom: 15px;
  }
  
  /* Styling for labels */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Styling for input fields */
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='tel'] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Styling for submit button */
  button[type='submit'] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
  }
  